/* No topo do estilo.css */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive; /* Exemplo de fonte pixelada para jogos */
    /* ...outros estilos do body */
}
html{
    cursor: url('img/mata_mosca.png') 30 30, auto;
}

/* Em estilo.css */
body {
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden; 
}

.mosquito1 {
    width: 5vw;
    height: 5vw;
}

.mosquito2 {
    width: 7vw;
    height: 7vw;
}

.mosquito3 {
    width: 10vw;
    height: 10vw;
}

.mosquito4 {
    width: 15vw;
    height: 15vw;
}


.ladoA {
    transform: scaleX(1);

}

.ladoB {
    transform: scaleX(-1)
}

.painel {
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;
}

.vidas {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.btn {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}